body{
text-align: center;
}
#p1{
font-size:20px;
}
.line{
height: 6px;
background: #000;
width:50px;
margin: 8px auto;
}
#image1{
border-radius: 60%;
width:200px;
margin-top: 150px;
margin-right:50px;
}
#aa{
background-color: yellow;
width: 1600px;
height: 400px;
}
#ab{
background-color: lime;
width: 1400px;
height: 200px;
padding: 50px;
}
.links {
    float:right;	
    color:blueviolet;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-family: 'Lemonada', cursive;
    font-size: 20px;
}
.links:hover {
    background-color:lightpink;
	font-size: 23px;
}
.menu {
   
    list-style:none;
    font-family:fantasy;
    position:absolute;
    top:0px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}